<!doctype html>
<html>
<head>
  <title>Book Tracker App</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1><span class="fa fa-book"></span> Book Tracker</h1>
      <p>A simple app to track what you're reading</p>

    
      <a href="/login" class="btn btn-default"><span class="fa fa-sign-in"></span> Login</a>
      <a href="/signup" class="btn btn-default"><span class="fa fa-user-plus"></span> Signup</a>
    </div>

  </div>
</body>
</html>
