
body {
  padding-top: 80px;
  font-family: sans-serif;
  background-color: #f9f9f9;
}


.container {
  max-width: 900px;
  margin: 0 auto;
}


h1 {
  font-size: 28px;
  margin-bottom: 20px;
}


.book-list {
  list-style-type: none;
  padding-left: 0;
}

.book {
  margin-bottom: 10px;
  padding: 8px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
}


button {
  margin-left: 10px;
}


form input {
  margin-bottom: 10px;
}

form button {
  width: 100%;
}
